<div fxLayout="column wrap" class="width100" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="row wrap" class="width95" fxLayoutAlign="space-between center" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <h1 class="whiteText">
        LOGO</h1>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
      <div fxLayout="row wrap" class="width100" fxLayoutAlign="space-between center" [fxShow]="true">
        <div fxLayout="column wrap" class="headerBtn" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" *ngFor="let items of page.toolItems"><button mat-button>{{items}}</button></div>
      </div>
    </div>
  </div>
</div>