/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
$gray:#2a3038;
$pink:#ca786d;
$darkWhite:#eef0f2;
$white: white;
*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.width100{
    width:100%;
}
.header{
    // height:55px;
    background-color:$gray;
}
.height{
    height:calc(100vh - (55px + 4em) );
}
.whiteText{
    color:$white;
}
.whiteBg{
    background-color: $white;
}
.headerBtn{
    border:1px solid $pink;
    color:$white;
    background-color: $pink;
}
.Btn{
    border:1px solid $pink;
    color:$pink;
    background-color: white;
    font-weight:100;
}
.lightBorder{
    background-color:$darkWhite;
}
.width95{
    width:95%;
}
.width98{
    width:98%;
}
.width50{
    width:50%;
}
.marginbottom{
    margin-bottom:1em;
}